/*music player css*/
body {
    margin: 0px;
    background: #f5f5f5;
    font-size: 12px;
    text-align: center;
}

.BBg-music-position {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 64px;
    background: #333;
    font-size: 20px;
    opacity: 0.95;
    border: 1px solid #000;
    text-align: center;
    z-index: 100;
}

.BBg-music-player {
    display: inline-block;
    margin: 0 auto;
    height: inherit;
    width: 800px;
}

.BBg-music-contMargin-i:hover {
    text-shadow:0px 0px 3px #e4e4e4;
}

.BBg-music-contLeft {
    display:inline-block;
    position: relative;
    top: -50%;
    transform: translateY(50%);
}

.BBg-contLeft-prev {
    display: inline-block;
    color: #bfbebe;
    position: relative;
    top: -5px;
}

.BBg-contLeft-pause {
    display: inline-block;
    color: #ffffff;
}

.BBg-contLeft-next {
    display: inline-block;
    color: #bfbebe;
    position: relative;
    top: -5px;
}

.BBg-music-contMargin-i {
    margin: 0px 5px
}

.BBg-music-pic {
    display: inline-block;
    height: 44px;
    width: 44px;
    margin: 10px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #000000;
}

.BBg-music-play {
    display: inline-block;
    height: inherit;
    width: 500px;
    position: relative;
    top : -26%;
}

.BBg-music-info {
    display: block;
    float: left;
    margin-top: 5px;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.BBg-music-song {
    color: #e8e8e8;
    margin-right: 20px;
}

.BBg-music-singer {
    color: #9b9b9b;
}

.BBg-music-bar {
    display: block;
}


.BBg-music-range {
    display: inline-block;
}

#id-input-vol,
#id-input-SlideBar {
    -webkit-appearance: none;
    width: 400px;
    outline: none;
    border-radius: 10px;
    background:linear-gradient(to right ,#c91818 0%,#c91818 0%,#5b5b5b 0%, #5b5b5b 100%);
}

#id-input-vol::-webkit-slider-thumb,
#id-input-SlideBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    border: 5px solid #ececef;
    margin-top: -3px;
    background: #c70c0c;
    border-radius: 100%;

}

#id-input-vol::-webkit-slider-thumb:hover,
#id-input-SlideBar::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 5px white;
}

#id-input-vol::-webkit-slider-runnable-track,
#id-input-SlideBar::-webkit-slider-runnable-track {
    height: 11px;
    border-radius: 10px;
    /*background:linear-gradient(to right ,#c91818 0%,#c91818 50%,#5b5b5b 50%, #5b5b5b 100%);*/
}

.BBg-music-timeIndica {
    display: inline-block;
    position: relative;
    top: -2px;
    color: #757575;
    font-size: 14px;
}

.BBg-music-curTime {
    color: #989898;
    margin-right: 10px;
}

.BBg-music-contRight {
    display: inline-block;
    position: relative;
    top: -50%;
    transform: translateY(50%);
    color: #969696;
}

.BBg-contRight-vol {
    display: inline-block;
    width: 18.25px;
}

#id-input-vol {
    display: none;
    transform:rotate(-90deg);
    position: absolute;
    width: 93px;
    height: 4px;
    top: -98px;
    left: -43px;
    border-right-width: 8px;
    border-left-width: 10px;
    border-top-width: 14px;
    border-bottom-width: 14px;
    border-style: solid;
    border-color: #292929;
    border-radius: 0px;
    margin: 0px;
    background:linear-gradient(to right ,#c91818 0%,#c91818 80%,#5b5b5b 80%, #5b5b5b 100%);
    opacity: 0.9;
}

#id-input-vol::-webkit-slider-thumb {
    position: relative;
    top: -3%;
    height: 12px;
    width: 12px;
    border: 4px solid #ececef;
}

.BBg-contRight-loop {
    display: inline-block;
    width: 20px;

}

.BBg-music-loopOne {
    display: none;
    position: absolute;
    left: 45px;
    top: 5px;
    font-size: 7px;
    font-weight: bolder;
    /*使该元素不能促发任何事件*/
    pointer-events: none;
}

.BBg-contRight-like {
    display: inline-block;

}

.fa-heart {
    color: #c91818;
}

.BBg-music-nav {
    display: block;
    text-align: center;
    background: #262525;
    height: 70px;
}

.BBg-music-title {
    display: inline-block;
    position: relative;
    bottom: -15px;
    width: 800px;
    height: 33px;
    font-size: 25px;
    color: #ecebeb;
    text-shadow: 2px 2px 9px white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.BBg-music-title:hover {
    text-decoration: none;
    color: inherit;
}

.BBg-music-contaniner {
    display: inline-block;
    background: #fff;
    width: 800px;
    height: 800px;
}

.BBg-music-dir {
    height: 35px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #c20c0c;
    border-style: solid;
    text-align: left;
}

.BBg-dir-title,
.BBg-dir-nums,
.BBg-dir-flag,
.BBg-dir-times {
    display: inline-block;
}

.BBg-dir-title {
    /*float: left;*/
    color: #333;
    font-size: 20px;
    margin-left: 37px;
}

.BBg-dir-nums {
    color: #8c8c8c;
    margin-left: 32px;
    width: 34px;
}

.BBg-dir-flag {
    color: #8c8c8c;
    float: right;
    margin-right: 33px;
    margin-top: 10px;
}

.BBg-dir-times {
    color: #c20c22;
    font-weight: bolder;
}

.BBg-dir-info {
    /*display: inline-block;*/
    height: 35px;
    text-align: left;
    width: 800px;
}

.BBg-dir-info-blank,
.BBg-dir-info-name,
.BBg-dir-info-time,
.BBg-dir-info-singer {
    display: inline-block;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    background-color: #f9f9f9;
    text-align: left;
    height: 18px;
    padding: 8px 0px;
    font-size: 12px;
    color: #737373;
}

.BBg-dir-info-blank {
    /*width:98px;*/
    height: 15px;
    width: 10%;
}

.BBg-dir-info-name {
    /*width: 370px;*/
    width: 40%;
}

.BBg-dir-info-time {
    /*width: 112px;*/
    width: 15%;
}

.BBg-dir-info-singer {
    /*width: 205px;*/
    width: 33%;
}

.BBg-music-listSong {
    text-align: left;
    position: relative;
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #fff;
}

.BBg-listSong-id,
.BBg-listSong-song,
.BBg-listSong-time,
.BBg-listSong-singer {
    display: inline-block;
    height: 18px;
    padding: 6px 0px;
    text-align: left;
    margin-left: 10px;
}

.BBg-listSong-id {
    width: 9%;
    color: #999999;
}

.BBg-listSong-play {
    color: #b3b3b3;
    position: absolute;
    top: 1px;
    left: 45px;
    font-size: 21px;
}

.nowPlaying {
    color: #d21010;
}

.BBg-listSong-play:hover {
    text-shadow: 0px 0px 20px #c20c0c;
}

.BBg-listSong-song {
    width: 39%;
    color: #333333;
}

.BBg-listSong-time {
    width: 13%;
    color: #666666;
}

.BBg-listSong-singer {
    width: 32%;
    color: #393939;
}
